import Meta from '$/components/Meta';
import MainLayout from '$/containers/Layouts/Main';
import {{ properCase name }}View from '$/{{ containerPath }}';
import { NextPageWithLayout } from '$/pages/_app';
import Head from 'next/head';
import { ReactElement } from 'react';

const {{ properCase name }}Page: NextPageWithLayout = () => (
  <>
    <Head>
      <Meta />
      <title>Vesto | {{ name }}</title>
    </Head>
    <{{ properCase name }}View />
  </>
);

{{ properCase name }}Page.getLayout = function getLayout(page: ReactElement) {
  return <MainLayout>{page}</MainLayout>;
};

export default {{ properCase name }}Page;
